[Desktop Entry] 
Name=Unity Hub - GPU
Comment=Unity Hub which runs using Nvidia Graphics
Exec=prime-run unityhub %U
Terminal=false
Type=Application
Categories=Development;
